body {
  background: #d6cece;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #ffffff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #aad7f5;
}

.content {
  background: #aad7f5;
  margin-bottom: 20px;
}

.button-container {
  background: #aad7f5;
  padding: 20px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
}